Repository advancia-platform/modular-saas-platform: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, combined

feat: Implement JWT authentication system with RBAC
  Advancia_JWT_Auth_v2.postman_collection.json
  JWT_AUTH_IMPLEMENTATION.md
  backend/.env.example
  backend/AUTH_JWT_GUIDE.md
  backend/src/index.ts
  backend/src/middleware/authenticateToken.ts
  backend/src/routes/authJWT.ts
  backend/src/utils/jwt.ts
Due: backend, combined

fix: Move authJWT import to top with other route imports
  backend/src/index.ts
Due: backend, combined

docs: Add quick start guide showing auth system superiority
  QUICK_START_AUTH.md
Due: none

test: Add comprehensive test scripts to Postman collection
  Advancia_JWT_Auth_v2.postman_collection.json
Due: none

docs: Add production deployment checklist for auth system
  DEPLOYMENT_CHECKLIST_AUTH.md
Due: none

docs: Add go-live validation guide with smoke tests
  DEPLOYMENT_CHECKLIST_AUTH.md
  GO_LIVE_VALIDATION.md
Due: none

feat: Add Cloudflare R2 object storage integration and database setup
  backend/.env.example
  backend/DATABASE_CONNECTION_TEST_SUMMARY.md
  backend/DATABASE_TROUBLESHOOTING.md
  backend/package.json
  backend/scripts/migrate-production.sh
  backend/scripts/test-db-connection.ts
  backend/scripts/test-r2-connection.sh
  backend/src/index.ts
  backend/src/routes/system.ts
  backend/src/routes/uploads.ts
  backend/src/services/r2Client.ts
  backend/src/utils/testDatabaseConnection.ts
Due: backend, combined

docs: Add comprehensive fresh setup guide for clean installation
  FRESH_SETUP_GUIDE.md
Due: none

config: Update R2 bucket to advancia-backups (EEUR region)
  FRESH_SETUP_GUIDE.md
  backend/.env.example
Due: backend, combined

chore: Update Python cache files
  ai-agent/venv/Lib/site-packages/win32/lib/__pycache__/pywin32_bootstrap.cpython-312.pyc
Due: none

fix: add missing dependencies and API client for Vercel build
  frontend/package.json
  frontend/src/lib/api/client.ts
Due: frontend, combined

fix: add openapi.json and fix playwright ES module config
  frontend/playwright.config.ts
  frontend/public/openapi.json
Due: frontend, combined

docs: add complete user flow verification documentation
  frontend/USER_FLOW_VERIFICATION.md
Due: frontend, combined

WIP
  docs/guides/UAT_EXECUTION_GUIDE.md
Due: none

fix: resolve markdown linting errors in UAT, doctor registration, and clone guides
  NOWPAYMENTS_SUMMARY.md
  docs/guides/DOCTOR_REGISTRATION_GUIDE.md
  docs/guides/UAT_EXECUTION_GUIDE.md
  scripts/CLONE_THIS.md
Due: none

security: remove hardcoded credentials from documentation
  CREDENTIALS_CONFIGURED.md
Due: none

chore: update prisma schema and cleanup files
  .vscode/settings.json
  C:\Users\mucha.DESKTOP-H7T9NPM\AppData\Local\vscode-sqltools\Data\.node-runtime
  backend/prisma/schema.prisma.backup-20251129-140556
  backend/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/apply-wallet-migration.sql
Due: backend, combined

feat: add workflow health check and SLA monitoring
  .github/workflows/workflow-health-check.yml
Due: none

refactor: remove Slack integration from workflow monitoring
  .github/workflows/workflow-health-check.yml
  WORKFLOW_FAILURES_GUIDE.md
Due: none

refactor: remove Slack integration from workflow monitoring
  scripts/check-workflow-health.sh
Due: none

docs: add comprehensive AI systems inventory and fix frontend notification components
  AI_SYSTEMS_INVENTORY.md
  frontend/src/components/AdminNotificationLogs.tsx
  frontend/src/components/__tests__/NotificationPreferences.test.tsx
Due: frontend, combined

feat(ai): add model export, versioning, training dashboard, and auto-retraining
  ai-agent/ai-core/models/MLModels.js
  ai-agent/src/reasoning-engine/app.py
Due: none

feat(frontend): add AI Model Dashboard with CAPTCHA verification, export, versioning, and auto-retraining UI
  frontend/src/app/ai-models/page.tsx
  frontend/src/components/AIModelDashboard.tsx
Due: frontend, combined

chore: format and update AI dashboard files
  ai-agent/src/reasoning-engine/app.py
  frontend/src/app/ai-models/page.tsx
  frontend/src/components/AIModelDashboard.tsx
Due: frontend, combined

feat(auth): add CAPTCHA verification to login and register pages
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/components/RobotVerification.tsx
Due: frontend, combined

fix: update region from Virginia to Oregon (pdx1) to match backend
  scripts/monitor-region-move.ps1
  vercel.json
Due: none

feat(blockchain): add Alchemy API integration
  backend/.env.example
  backend/package.json
  backend/src/index.ts
  backend/src/routes/blockchain.ts
  backend/src/services/alchemyService.ts
Due: backend, combined

feat(trust): add Tranco rank traffic analysis
  backend/src/services/scamAdviserService.ts
Due: backend, combined

feat(monitoring): add Sentry logger and Discord notification service
  backend/.env.example
  backend/src/index.ts
  backend/src/services/discordService.ts
  backend/src/services/notificationService.ts
  backend/src/utils/sentry.ts
Due: backend, combined

feat(logging): add log drains for Vercel, Heroku, and OpenTelemetry
  backend/.env.example
  backend/src/index.ts
  backend/src/utils/logDrains.ts
  monitoring/otel-collector-config.yaml
Due: backend, combined

feat(frontend): add animated SocialTooltip component with Framer Motion
  backend/src/utils/logDrains.ts
  frontend/src/components/SocialTooltip.tsx
Due: backend, frontend, combined

fix(ai-agent): fix TypeScript errors in AIDevOpsAgent
  ai-agent/ai-core/AIDevOpsAgent.ts
  ai-agent/ai-core/tsconfig.json
Due: none

feat: add PM2 process management configuration
  PM2_GUIDE.md
  ecosystem.config.js
  package.json
Due: none

Path conditions:
  backend: any of: backend/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.spec.ts, **/*.spec.tsx, **/*.spec.js, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**
  frontend: any of: frontend/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.spec.ts, **/*.spec.tsx, **/*.spec.js, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**
  combined: any of: backend/, frontend/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.spec.ts, **/*.spec.tsx, **/*.spec.js, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**
