Repository advancia-platform/modular-saas-platform: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, combined

Add Vercel cron job configuration
  frontend/src/app/api/cron/route.ts
  frontend/vercel.json
Due: frontend, combined

Update README with correct dependencies and production URLs
  frontend/README.md
Due: frontend, combined

docs: Add production improvements documentation
  PRODUCTION_IMPROVEMENTS_COMPLETE.md
  PRODUCTION_QUICK_REFERENCE.md
Due: none

feat: Add monitoring, logging, and SSL setup documentation
  SSL_SETUP_GUIDE.md
  dy
  frontend/README.md
  scripts/monitor-api.sh
Due: frontend, combined

feat: Add Cloudflare domain setup for advanciapayledger.com
  CLOUDFLARE_DOMAIN_SETUP.md
Due: none

chore: Trigger Vercel rebuild
  frontend/README.md
Due: frontend, combined

chore: remove all Render-related files and configurations
  .github/GITHUB_SECRETS_SETUP.md
  .github/workflows/backup-and-migrate.yml
  .github/workflows/render-auto-deploy.yml
  .github/workflows/render-backup.yml
  .github/workflows/render-predeploy.yml
  .github/workflows/render-rollback.yml
  .render.yaml
  render.yaml
Due: none

docs: remove Render references from copilot-instructions
  .github/copilot-instructions.md
Due: none

chore(backend): update package.json with TypeScript build, OpenTelemetry tracing, argon2, Sentry profiling
  backend/package.json
Due: backend, combined

chore(frontend): update package.json with new dependencies and regenerate lockfile
  frontend/package.json
Due: frontend, combined

chore: save in-progress work (ci: auto-release/auto-label; backend: prisma defaults + Decimal fixes + services updates)
  .github/workflows/auto-changelog.yml
  .github/workflows/auto-label.yml
  .github/workflows/auto-release.yml
  backend/src/routes/admin.ts
  backend/src/routes/admin/config.ts
  backend/src/routes/adminWallets.ts
  backend/src/routes/alertPolicies.ts
  backend/src/routes/auth.ts
  backend/src/routes/consultation.ts
  backend/src/routes/rewards.ts
  backend/src/routes/support.ts
  backend/src/routes/tokens.ts
  backend/src/routes/tokensEnhanced.ts
  backend/src/routes/transactions.ts
  backend/src/routes/twoFactor.ts
  backend/src/routes/userApproval.ts
  backend/src/routes/withdrawals.ts
  backend/src/rpa/chatbot.ts
  backend/src/rpa/dataBackupSync.ts
  backend/src/rpa/kycVerifier.ts
  backend/src/rpa/notificationAutomation.ts
  backend/src/rpa/reportGenerator.ts
  backend/src/rpa/transactionProcessor.ts
  backend/src/services/feeService.ts
  backend/src/services/fraudDetectionService.ts
  backend/src/services/jobQueue.ts
  backend/src/services/notificationService.ts
  backend/src/services/paymentSessionService.ts
  backend/src/services/policyAuditService.ts
  backend/src/services/transactionManager.ts
  backend/src/services/withdrawalService.ts
  backend/src/utils/SANITIZATION_EXAMPLES.ts
  backend/src/utils/decimal.ts
  backend/src/utils/decimalToNumber.ts
  backend/src/utils/decimals.ts
  backend/src/utils/prismaHelpers.ts
  backend/src/utils/serializers.ts
Due: backend, combined

chore: redact exposed secrets from documentation
  PRODUCTION_READINESS_REPORT.md
  PROMETHEUS_SETUP_GUIDE.md
  SECRET_MANAGEMENT_GUIDE.md
  SECURITY_AUDIT_2025-11-17.md
  SLACK_WEBHOOK_SETUP.md
  SYSTEMATIC_FIX_GUIDE.md
  archive/git-rewrite-2025-11-23/t/RENDER_ENV_UPDATE.md
Due: none

chore: add safe environment templates with placeholders
  .env.production.example
  .gitignore
  backend/.env.production.example
  frontend/.env.production.example
Due: backend, frontend, combined

feat: add Cloudflare R2 storage + Docker deployment with GitHub Actions
  .env.production.example
  .github/workflows/docker-build-push.yml
  CLOUDFLARE_R2_DOCKER_DEPLOYMENT.md
  backend/.env.production.example
  docker-compose.yml
Due: backend, combined

docs: add GitHub secret scanning unblock guide with whitelist URLs
  GITHUB_SECRET_UNBLOCK_GUIDE.md
Due: none

docs: add comprehensive roadmap and sprint planning system
  EXECUTION_PLAN.md
  ISSUES_TEMPLATE.md
  ROADMAP_CONSOLIDATED.md
  ROADMAP_CONSOLIDATION_SUMMARY.md
  ROADMAP_INDEX.md
  ROADMAP_QUICK_REF.md
  ROADMAP_README.md
  SPRINT_BOARD.md
  backend/ROADMAP.md
Due: backend, combined

docs: add comprehensive production release checklist
  RELEASE_CHECKLIST.md
Due: none

docs: add final push action summary and troubleshooting guide
  PUSH_ACTION_SUMMARY.md
Due: none

docs: add sprint kickoff checklist to sprint board
  SPRINT_BOARD.md
Due: none

docs: add comprehensive React/Next.js best practices guide
  REACT_BEST_PRACTICES.md
Due: none

docs: integrate Sprint 1 Backlog with all four tracks
  SPRINT_BOARD.md
Due: none

docs: add 24-hour accelerated deployment plan and v1.2.0 release notes
  ACCELERATED_DEPLOYMENT.md
  RELEASE_NOTES_v1.2.0.md
Due: none

docs: add comprehensive Marketplace MVP Plan for Sprint 2
  MARKETPLACE_MVP_PLAN.md
Due: none

docs: add complete deployment automation configuration for v1.2.0
  GITHUB_ACTIONS_SECRETS.md
  POST_WHITELIST_DEPLOYMENT_CHECKLIST.md
  PR_STAGING_v1.2.0.md
Due: none

docs: add v1.2.0 release package quick start guide
  RELEASE_PACKAGE_v1.2.0_QUICK_START.md
Due: none

docs: add deployment ready summary — complete v1.2.0 package overview
  DEPLOYMENT_READY_SUMMARY.md
Due: none

docs: add visual summary of complete v1.2.0 deployment package
  VISUAL_SUMMARY.txt
Due: none

docs: improve Phase 1 GitHub UI whitelisting guide with clear step-by-step instructions
  POST_WHITELIST_DEPLOYMENT_CHECKLIST.md
Due: none

docs: add GitHub Release Notes v1.2.0 (stakeholder-friendly)
  GITHUB_RELEASE_NOTES_v1.2.0.md
Due: none

docs: add Release Communications Package for v1.2.0 (team/stakeholder announcements)
  RELEASE_COMMUNICATIONS_PACKAGE.md
Due: none

docs: add v1.3.0 marketplace MVP release notes and Day 2 QA smoke test checklist
  GITHUB_RELEASE_NOTES_v1.3.0_MARKETPLACE_MVP.md
  QA_SMOKE_TEST_CHECKLIST_DAY2.md
Due: none

docs: add formal QA sign-off template for v1.2.0 deployment approval gate
  QA_SIGNOFF_v1.2.0.md
Due: none

docs: add production-ready PR descriptions and release communications package
  .github/PR_DESCRIPTION_FINAL.md
  .github/PR_DESCRIPTION_STAGING.md
  RELEASE_COMMUNICATIONS_v1.2.0.md
Due: none

fix: add manual deployment approval workflow and install express-validator
  .github/workflows/deploy-staging.yml
  backend/package.json
Due: backend, combined

fix: resolve TypeScript errors in backend controllers and services
  backend/package.json
  backend/src/middleware/emailRateLimit.ts
  backend/src/middleware/formValidation.ts
  backend/src/middleware/rateLimiterRedis.ts
  backend/src/middleware/rateLimiting.ts
  backend/src/routes/gamification.ts
  backend/src/routes/health-readings.ts
  backend/src/routes/jobs.ts
  backend/src/routes/medbeds.ts
  backend/src/routes/tokensEnhanced.ts
  backend/src/services/jobQueue.ts
  backend/src/utils/queue.ts
Due: backend, combined

chore(types): resolve remaining TypeScript errors, backend passes type-check
  backend/src/middleware/emailRateLimit.ts
  backend/src/middleware/formValidation.ts
  backend/src/middleware/rateLimiterRedis.ts
  backend/src/routes/tasks.ts
  backend/src/services/analyticsService.ts
  backend/src/services/authService.ts
  backend/src/services/backupService.ts
  backend/src/services/cryptomusService.ts
  backend/src/services/exportService.ts
  backend/src/services/nowpaymentsService.ts
  backend/src/services/paymentService.ts
  backend/src/services/reportService.ts
  backend/src/services/walletService.ts
  backend/src/utils/queue.ts
Due: backend, combined

Path conditions:
  backend: any of: backend/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.spec.ts, **/*.spec.tsx, **/*.spec.js, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**
  frontend: any of: frontend/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.spec.ts, **/*.spec.tsx, **/*.spec.js, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**
  combined: any of: backend/, frontend/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.spec.ts, **/*.spec.tsx, **/*.spec.js, **/node_modules/**, **/dist/**, **/build/**, **/.next/**, **/coverage/**
